@using Domain.Entities.User
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{
    Layout = null;

    var user = userManager.FindByNameAsync(User.Identity.Name).Result;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/Admin/assets/images/favicon.png">
    <title>Materialart Admin Template</title>
    <link href="/Admin/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/Admin/dist/css/pages/authentication.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="rtl">
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Material Admin</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: url(/Admin/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="/Admin/assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">ویرایش اطلاعات</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <form class="col s12" action="/Admin/EditUserInfo" method="post">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="@user.Name" name="name" id="name" type="text" class="validate" required>
                                    <label for="name">نام </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="@user.Family" name="family" id="family" type="text" class="validate" required>
                                    <label for="family">نام خانوادگی</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="@user.PhoneNumber" name="phoneNumber" id="phoneNumber" type="text" class="validate" required>
                                    <label for="phoneNumber">شماره تلفن</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="@user.UserName" name="userName" id="userName" type="text" class="validate" required>
                                    <label for="userName">نام کاربری</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="@user.Email" id="email" name="email" type="email" class="validate" required>
                                    <label for="email">کلمه عبور</label>
                                </div>
                            </div>
                            <div class="row m-t-40">
                                <div class="col s12">
                                    <button class="btn-large w100 blue accent-4" type="submit">ویرایش</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/Admin/dist/js/materialize.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('.tooltipped').tooltip();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $(function () {
            $(".preloader").fadeOut();
        });
    </script>
</body>

</html>
