@using Application.Services.Admin.Products.Queries.GetAllProducts
@using Common.Dto
@using Common.Enums
@model ResultGetAllProductsDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int back = ViewBag.CurrentRow - 1;
    int forward = ViewBag.CurrentRow + 1;

    var message = ViewBag.ErrorMessage;
}

<style>
    th, td {
        width: 20%;
        text-align: right;
    }
</style>
<h3 style="margin:0% 2%">محصولات</h3>
<hr />

<div class="row" style="margin:2%;">
    <table dir="rtl" style="text-align : right">
        <thead>
            <tr>
                <th>
                    <a class="waves-effect waves-light btn modal-trigger green" style="width:95%" href="/Admin/Product/Create">افزودن</a>
                </th>
                <th>
                    <a class="waves-effect waves-light btn modal-trigger green" style="width:95%" id="btnApplyingToCreateExcel">درخواست فایل اکسل</a>
                </th>
                <th>
                    <a class="waves-effect waves-light btn modal-trigger green" style="width:95%" href="/Admin/Product/GetExcels">فایل های اکسل</a>
                </th>
                <th></th>
                <th></th>
            </tr>
            <form id="searchForm" method="get" action="/Admin/Product/Index">
            <tr>
                <td>
                    <label for="searchKey">جستوجو کنید : </label>
                    <input type="text" id="searchKey" value="@ViewBag.SearchKey" />
                </td>
                <td>
                    <label for="searchBy">بر اساس : </label>
                    <select id="searchBy" asp-items="Html.GetEnumSelectList<Enums.PageFilterCategory>().OrderBy(p=> p.Value != ViewBag.SearchBy.ToString())"></select>
                </td>
                <td>
                        @if (ViewBag.StartPrice == 0)
                        {
                        <label for="startPrice">از قیمت :</label>
                        <input type="number" id="startPrice" />
                        }
                        else
                        {
                        <label for="startPrice">از قیمت :</label>
                        <input type="number" value="@ViewBag.StartPrice" id="startPrice" />
                        }
                </td>
                <td>
                        @if (ViewBag.EndPrice == 0)
                        {
                        <label for="endPrice">تا قیمت : </label>
                        <input type="number" id="endPrice" />
                        }
                        else
                        {
                        <label for="endPrice">تا قیمت : </label>
                        <input type="number" value="@ViewBag.EndPrice" id="endPrice" />
                        }
                </td>
                <td>
                    <label for="orderBy">مرتب سازی بر اساس : </label>
                    <select id="orderBy" asp-items="Html.GetEnumSelectList<Enums.ProductsFilter>().OrderBy(p=> p.Value != ViewBag.OrderBy.ToString())"></select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a class="waves-effect waves-light btn modal-trigger blue" id="btnSearch">جستوجو</a>
                </td>
            </tr>
            </form>
            <tr>
                <th>نام</th>
                <th>نام دسته بندی</th>
                <th>برند</th>
                <th>تعداد بازدید</th>
            </tr>
        </thead>

        <tbody id="productTable">
            @if (Model != null)
            {
                @if (Model.Products.Count() != 0)
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Brand</td>
                            <td>@item.VisitNumber</td>
                            <td>
                                <a style="width:45%;background-color:#d1ac12" class="waves-effect waves-light btn modal-trigger" href="/Admin/Product/Edit/@item.Id">ویرایش</a>
                                <a style="width:45%" class="waves-effect waves-light btn modal-trigger red" href="/Admin/Product/Delete/@item.Id">حذف</a>
                            </td>
                            <td hidden>@item.Id</td>
                        </tr>
                    }

            }
            else
            {
                <tr>
                    <td>موردی یافت نشد.</td>
                </tr>
            }
        </tbody>
    </table>

    <div style="margin-top:2% ; text-align:center">
        <div class="pagination">
            <ul>
                @if (Model != null)
                    @if (ViewBag.CurrentRow == 1)
                    {
                        <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    }
                    else
                    {
                        <li class="waves-effect"><a href="/Admin/Product/Index?currentPage=@back&searchKey=@ViewBag.SearchKey&searchBy=@ViewBag.SearchKey&startPrice=@ViewBag.StartPrice&endPrice=@ViewBag.EndPrice&orderBy=@ViewBag.OrderBy"><i class="material-icons">chevron_right</i></a></li>
                    }

                @if (Model != null)
                    @for (int i = 1; i <= Model.TotalRows; i++)
                    {
                        if (i == ViewBag.CurrentRow)
                        {
                            <li class="active"><a href="/Admin/Product/Index?currentPage=@i&searchKey=@ViewBag.SearchKey&searchBy=@ViewBag.SearchKey&startPrice=@ViewBag.StartPrice&endPrice=@ViewBag.EndPrice&orderBy=@ViewBag.OrderBy">@i</a></li>
                        }
                        else
                        {
                            <li class="waves-effect"><a href="/Admin/Product/Index?currentPage=@i&searchKey=@ViewBag.SearchKey&searchBy=@ViewBag.SearchKey&startPrice=@ViewBag.StartPrice&endPrice=@ViewBag.EndPrice&orderBy=@ViewBag.OrderBy">@i</a></li>
                        }
                    }

                @if (Model != null)
                    @if (ViewBag.CurrentRow == Model.TotalRows)
                    {
                        <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
                    }
                    else
                    {
                        <li class="waves-effect"><a href="/Admin/Product/Index?currentPage=@forward&searchKey=@ViewBag.SearchKey&searchBy=@ViewBag.SearchKey&startPrice=@ViewBag.StartPrice&endPrice=@ViewBag.EndPrice&orderBy=@ViewBag.OrderBy"><i class="material-icons">chevron_left</i></a></li>
                    }

            </ul>
        </div> <!-- /pagination -->
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="title">Modal Header</h4>
        <p id="body">A bunch of text</p>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function(){
        var errorMessage = "@message";
        if(errorMessage != "" && errorMessage!= undefined && errorMessage != null){
            swal("خطا", errorMessage, "warning")
                .then((value) => { });
        }

        $("#btnSearch").click(function(e){
             var formdata = new FormData();

             var searchKey = $("#searchKey").val();
             var searchBy = $("#searchBy").val();
             var startPrice = $("#startPrice").val();
             var endPrice = $("#endPrice").val();
             var orderBy = $("#orderBy").val();

             var address = "/Admin/Product/Index?currentPage=" + @ViewBag.CurrentRow
             +"&SearchKey="+ searchKey+"&SearchBy=" +searchBy+"&StartPrice="+startPrice
             +"&EndPrice="+endPrice+"&OrderBy="+orderBy;

             location.href = address;
        });

        $("#btnApplyingToCreateExcel").click(function(e){
              swal("خطا", "آیا از درخواست فایل اکسل با فیلترهای وارد شده مطمئن هستید؟", "warning")
                    .then((value) =>
                    {
                        if(value.value == true){
                        var formdata = new FormData();

                        formdata.append("SearchKey",$("#searchKey").val());
                        formdata.append("SearchBy",$("#searchBy").val());
                        formdata.append("StartPrice",$("#startPrice").val());
                        formdata.append("EndPrice",$("#endPrice").val());
                        formdata.append("OrderBy",$("#orderBy").val());

                        $.ajax({
                            type: "POST",
                            processData: false,
                            contentType: false,
                            cache: false,
                            enctype: "multipart/form-data",
                            url: "/Admin/Product/CreateExcelConfirmed",
                            data: formdata,
                            success: function (response) {
                            }
                        });
                   }
             });
        });

        $("#btnGetExcel").click(function () {
            $.get("/Admin/Product/GetExcels", function (result) {
                $("#title").html("فایل های اکسل");
                $("#body").html(result);
            });
        });
    });
</script>
}