@using Common.Enums;
@using Application.Services.Common.Category.Queries.GetAllCategories
@model List<GetAllCategoriesDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    td, th {
        text-align: right
    }
</style>
<h3>دسته بندی وبلاگ</h3>
<table dir="rtl" style="text-align:right">
    <thead>
        <tr>
            <th>
                <a class="waves-effect waves-light btn modal-trigger green" href="#modal1" id="btnCreateNewCategory">افزودن</a>
            </th>
            <th>
                <a class="waves-effect waves-light btn modal-trigger green" id="btnApplyingToCreateExcel">درخواست فایل اکسل</a>
            </th>
        </tr>
        <form id="searchForm" method="get" action="/Admin/Product/Index">
        <tr>
            <td>
                <label for="searchKey">جستوجو کنید : </label>
                <input type="text" id="searchKey" value="@ViewBag.SearchKey" />
            </td>
            <td>
                <label for="parentId">بر اساس دسته بندی والد : </label>
                <select id="parentId" asp-items="@ViewBag.CategoriesList">
                    <option value="0" selected>همه</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <a class="waves-effect waves-light btn modal-trigger blue" id="btnSearch">جستوجو</a>
            </td>
        </tr>
        </form>
        <tr>
            <th style="width:50%">نام دسته بندی</th>
            <th style="width:50%">زیر مجموعه ها</th> 
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if ((item.IsParent && item.ParentId == 0) || (int)ViewBag.ParentId != 0)
            {
                if (item.Name == "بدون دسته بندی")
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>
                }
                else if (item.Children.Count != 0)
                {
                    <tr>
                        <td style="width:33%">@item.Name</td>
                        <td style="width:33%">
                            @if ((int)ViewBag.ParentId == 0)
                            {
                                <a class="waves-effect waves-light btn modal-trigger" href="#modal1" onclick="GetChildren(@item.Id)">زیر مجموعه ها</a>
                                <a class="waves-effect waves-light btn modal-trigger green" href="#modal1" onclick="CreateChild(@item.Id)">افزودن</a>
                            }
                            <a class="waves-effect waves-light btn modal-trigger yellow" href="/Admin/BlogCategories/Edit/@item.Id">ویرایش</a>
                            <a class="waves-effect waves-light btn modal-trigger red" href="#modal1" onclick="Delete(@item.Id)">حذف</a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="width:33%">@item.Name</td>
                        <td style="width:33%">
                            @if ((int)ViewBag.ParentId == 0)
                            {
                                <a class="waves-effect waves-light btn modal-trigger green" href="#modal1" onclick="CreateChild(@item.Id)">افزودن</a>
                            }
                            <a class="waves-effect waves-light btn modal-trigger yellow" href="/Admin/BlogCategories/Edit/@item.Id">ویرایش</a>
                            <a class="waves-effect waves-light btn modal-trigger red" href="#modal1" onclick="Delete(@item.Id)">حذف</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="title">Modal Header</h4>
        <p id="body">A bunch of text</p>
    </div>
</div>

@section scripts
{
<script>
    $("#btnCreateNewCategory").click(function () {

        $.get("/Admin/BlogCategories/Create/0", function (result) {

            $("#title").html("افزودن  گروه جدید");
            $("#body").html(result);
        });

    });

    function GetChildren(id) {

        $.get("/Admin/BlogCategories/GetChildren/" + id, function (result) {

            $("#title").html("زیر مجموعه ها");
            $("#body").html(result);
        });

    };

    function CreateChild(id) {

        $.get("/Admin/BlogCategories/Create/" + id, function (result) {

            $("#title").html("افزودن زیر مجموعه");
            $("#body").html(result);
        });
    };

    function Delete(id) {

        $.get("/Admin/BlogCategories/Delete/" + id, function (result) {

            $("#title").html("حذف");
            $("#body").html(result);
        });
    };

            $("#btnApplyingToCreateExcel").click(function(e){
                debugger;
                swal("خطا", "آیا از درخواست فایل اکسل با فیلترهای وارد شده مطمئن هستید؟", "warning")
                    .then((value) =>
                    {
                        var formdata = new FormData();

                        formdata.append("SearchKey",$("#searchKey").val());
                        formdata.append("ParentId",$("#parentId").val());

                        $.ajax({
                            type: "POST",
                            processData: false,
                            contentType: false,
                            cache: false,
                            enctype: "multipart/form-data",
                            url: "/Admin/BlogCategories/CreateExcelConfirmed",
                            data: formdata,
                            success: function (response) {
                        }
                   });
                });
            });

             $("#btnSearch").click(function(e){
             var formdata = new FormData();

             var searchKey = $("#searchKey").val();
             var parentId = $("#parentId").val();

             var address = "/Admin/BlogCategories/Index?SearchKey="+ searchKey+"&ParentId=" +parentId;

             location.href = address;
             });

</script>
}

