@using Microsoft.AspNetCore.Identity
@using Persistance.Entities.User
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = userManager.FindByNameAsync(User.Identity.Name).Result;
}

<!--  ==========  -->
<!--  = Breadcrumbs =  -->
<!--  ==========  -->
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">وبمارکت</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="/Dashboard">داشبورد</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
                <div class="underlined push-down-20">
                    <h3><span class="light">داشبورد</span></h3>
                </div>

                <div>
                    <div style="float: right; width: 50%;">
                        <ul style="font-size: 125%; width: 100%;">
                            <li>نام : @user.Name</li>
                            <li>نام خانوادگی : @user.Family</li>
                            <li>نام کاربری : @User.Identity.Name</li>
                            <li>ایمیل : @user.Email</li>
                            <li>شماره تلفن : @user.PhoneNumber</li>
                        </ul>
                        <hr>
                        <ul>
                            <li>
                                <a href="/EditUser">ویرایش اطلاعات</a>
                            </li>
                            <li>
                                <a href="/ResetPassword">تغییر رمز عبور</a>
                            </li>
                            <li>
                                <a href="/MyPays">خرید های من</a>
                            </li>
                        </ul>
                    </div>
                    <div style="float: left; width: 50%;">
                        <img src="@user.ProfileImageSrc" style="margin : 5% auto;max-width:80%">
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
<!-- /container -->
