@using Application.Services.Client.BlogPages.Queries.GetBlogPageById
@model GetBlogPageByIdDto
@using Common.Utilities
@using Application.Interfaces.FacadPatterns.Client
@using Application.Interfaces.FacadPatterns.Common
@inject ICommonOptionFacad _commonOptionFacad
@inject IClientBlogPageFacad _clientBlogPageFacad

@{
    ViewData["Title"] = "ShowBlogPages";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if(CookiesManager.ContainCookie(Context , "BrowserCode"))
    {
        string code = CookiesManager.GetCookieValue(Context, "BrowserCode");
        _clientBlogPageFacad.AddNewVisit.Execute(Model.Id,code );
    }
    else
    {
        string code = _commonOptionFacad.CreateBrowser.Execute().Data;
        CookiesManager.AddCookie(Context, "BrowserCode", code);
        _clientBlogPageFacad.AddNewVisit.Execute(Model.Id, code);
    }
}

<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="">وبلاگ</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="">@Model.CategoryName</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="">@Model.Title</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="push-up top-equal blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main Title =  -->
            <!--  ==========  -->

            <div class="span12">
                <div class="title-area">
                    <h1 class="inline">@Model.Title</h1>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span8 single single-post">

                <!--  ==========  -->
                <!--  = Post =  -->
                <!--  ==========  -->
                <article class="post format-video">
                    <div class="post-inner">
                        <img src="@Model.Image" alt="featured image" width="1540" height="746">
                        <div class="post-title">
                            <div class="metadata">
                                @Model.CreateDate
                            </div>
                        </div>

                        <div>
                            @Html.Raw(Model.Text)
                        </div>

                    </div>
                </article>

                <hr>

                <!--  ==========  -->
                <!--  = Comments =  -->
                <!--  ==========  -->

                @await Component.InvokeAsync("Comment", new { pageId = Model.Id, type = Common.Enums.Enums.CategoryType.BlogPage })

            </section> <!-- /main content -->
            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span4 right-sidebar">

                <!--  ==========  -->
                <!--  = Search Widget =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_search">
                    <!-- <div class="underlined">
                        <h3><span class="light">Search</span></h3>
                    </div> -->

                    <form class="form" action="#" id="searchform" method="get" role="search">
                        <input type="text" id="appendedInputButton" class="input-block-level" name="s" placeholder="جستجو ...">
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div>


                <!--  ==========  -->
                <!--  = Archive =  -->
                <!--  ==========  -->
                <div class="sidebar-item widget_archive">
                    <div class="underlined">
                        <h3><span class="light">آرشیو</span>نوشته های بلاگ</h3>
                    </div>

                    <ul>
                        <li><a title="February 2013" href="http://localhost/themeforest/wp-theme/2013/02/">بهمن 92</a>&nbsp;(2)</li>
                        <li><a title="September 2008" href="http://localhost/themeforest/wp-theme/2008/09/">مهر 92</a>&nbsp;(3)</li>
                        <li><a title="June 2008" href="http://localhost/themeforest/wp-theme/2008/06/">مرداد 92</a>&nbsp;(10)</li>
                        <li><a title="May 2008" href="http://localhost/themeforest/wp-theme/2008/05/">تیر 92</a>&nbsp;(5)</li>
                        <li><a title="April 2008" href="http://localhost/themeforest/wp-theme/2008/04/">اردیهبشت 91</a>&nbsp;(1)</li>
                        <li><a title="March 2008" href="http://localhost/themeforest/wp-theme/2008/03/">فروردین 91</a>&nbsp;(3)</li>
                    </ul>
                </div>

            </aside> <!-- /sidebar -->

        </div>
    </div>
</div>

@section scripts
{
    <script>
        var commentId = 0;
        var commenterName = "";
        var visitingParent = 0;

        $(document).ready(function () {
            $(".btnAnswer").click(function (e) {
                commentId = this.getAttribute("commentId");
                commenterName = this.getAttribute("commenterName");
                visitingParent = this.getAttribute("visitingParent");
                document.getElementById("answerTo").innerHTML = "پاسخ به " + commenterName;
            });

            $("#btnSendComment").click(function () {
                var commentData = new FormData();

                commentData.append("Name", $("#name").val());
                commentData.append("Email", $("#email").val());
                commentData.append("Text", $("#text").val());
                commentData.append("PageId", @Model.Id);
                commentData.append("ParentId", commentId);
                commentData.append("VisitingParent", visitingParent)

                $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    cache: false,
                    url: "/Blog/CreateComment",
                    data: commentData,
                    success: function (response) {
                        location.reload();
                    }
                });
            });
        });
    </script>
}

