@using System.Linq
@using Common.Dto
@model ResultGetProductByFilterDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int productCount = Model.Products.Count();
    int back = ViewBag.CurrentRow - 1;
    int forward = ViewBag.CurrentRow + 1;

    string SetLeft(int i)
    {
        if (i == 0 || i == 4 || i == 8)
            return "0px";
        else if (i == 1 || i == 5 || i == 9)
            return "300px";
        else if (i == 2 || i == 6 || i == 10)
            return "600px";
        else
            return "900px";
    }

    string SetTop(int i)
    {
        if (i == 0 || i == 1 || i == 2 || i == 3)
            return "15px";
        else if (i == 4 || i == 5 || i == 6 || i == 7)
            return "342px";
        else
            return "651px";
    }
}
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">فروشگاه</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">@ViewBag.TopbarTitle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">
            <section class="span12">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
                <div class="underlined push-down-20">
                    <div class="row">
                        <div class="span6">
                            <h3>@ViewBag.HeaderTitle</h3>
                        </div>
                    </div>
                </div> <!-- /title -->
                <!--  ==========  -->
                <!--  = Products =  -->
                <!--  ==========  -->
                <div class="row popup-products">
                    <div id="isotopeContainer" class="isotope-container isotope" style="position: relative; overflow: hidden; height: 945px;">
                    @if (productCount == 0)
            {
                <h4 dir="rtl" style="text-align:right;margin-right:2%">هیچ محصولی یافت نشد.</h4>
            }
                        @for (int i = 0; i < productCount; i++)
                        {
                            <!--  = Single Product =  -->
                            <!--  ==========  -->
                            <div class="span3 filter--underwear isotope-item" data-price="167" data-popularity="2" data-size="xs|s|l" data-color="blue|pink" data-brand="naish" style="position: absolute; left: 0px; top: 0px; transform: translate3d(@SetLeft(i), @SetTop(i), 0px);">
                                <div class="product">

                                    <div class="product-img">
                                        <div class="picture">
                                            <img width="540" height="374" alt="" src="@Model.Products[i].Image">
                                            <div class="img-overlay">
                                                <a class="btn more btn-primary" href="/Product?id=@Model.Products[i].Id">توضیحات بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-titles no-margin">

                                        <h4 class="title">@Model.Products[i].Price تومان</h4>

                                        <h5 class="no-margin isotope--title">@Model.Products[i].Name</h5>
                                    </div>
                                </div>
                            </div> <!-- /single product -->
                        }

                    </div> <!-- /isotope-container -->
                </div> <!-- /popup-products -->
                <hr>

                <!--  ==========  -->
                <!--  = Pagination =  -->
                <!--  ==========  -->
                <div class="pagination pagination-centered">
                    <ul>
                        @if (ViewBag.CurrentRow == 1)
                        {
                            <li><a class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                        }
                        else
                        {
                            <li><a href="/Products?currentPage=@back&categoryId=@ViewBag.CategoryId&categoryName=@ViewBag.CategoryName" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                        }

                        @for (int i = 1; i <= Model.TotalRows; i++)
                        {
                            if (i == ViewBag.CurrentRow)
                            {
                                <li class="active"><a href="/Products?currentPage=@i&categoryId=@ViewBag.CategoryId&categoryName=@ViewBag.CategoryName">@i</a></li>
                            }
                            else
                            {
                                <li><a href="/Products?currentPage=@i&categoryId=@ViewBag.CategoryId&categoryName=@ViewBag.CategoryName">@i</a></li>
                            }
                        }

                        @if (ViewBag.CurrentRow == Model.TotalRows)
                        {
                            <li><a class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                        }
                        else
                        {
                            <li><a href="/Products?currentPage=@forward&categoryId=@ViewBag.CategoryId&categoryName=@ViewBag.CategoryName" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                        }

                    </ul>
                </div> <!-- /pagination -->
            </section> <!-- /span12 -->
        </div>
    </div>
</div>