@using System.Linq
@using Application.Services.Common.Product.Queries.GetProductById
@model GetProductByIdDto

@{
    ViewData["Title"] = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">فروشگاه</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">@Model.CategoryName</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="product.html">@Model.Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer">

            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="product-preview">
                    <div class="picture">
                        <img src="@Model.Images[0].Src" alt="" width="940" height="940" id="mainPreviewImg">
                    </div>
                    <div class="thumbs clearfix">
                        @foreach (var item in Model.Images)
                        {
                            if (item == Model.Images[0])
                            {
                                <div class="thumb active">
                                    <a href="#mainPreviewImg"><img src="@item.Src" alt="" width="940" height="940"></a>
                                </div>
                            }
                            else
                            {
                                <div class="thumb">
                                    <a href="#mainPreviewImg"><img src="@item.Src" alt="" width="940" height="940"></a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            <div class="span7">
                <div class="product-title">
                    <h1 class="name">@Model.Name</h1>
                    <div class="meta">
                        <span class="tag">@Model.Price تومان</span>
                        <span class="stock">
                            @if (Model.Inventory != 0)
                            {
                                <span class="btn btn-success">موجود</span>

                            }
                            else
                            {
                                <span class="btn btn-danger">اتمام موجودی</span>

                            }
                        </span>
                    </div>
                </div>
                <div class="product-description">
                    <p>
                        @Model.ShortDescription
                    </p>
                    <hr>

                    <!--  ==========  -->
                    <!--  = Add to cart form =  -->
                    <!--  ==========  -->
                    <form action="/AddToCart" class="form form-inline clearfix" method="post">
                        <div class="numbered">
                            @{ 
                                var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
                                var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
                                var returnUrl = $"{routeUrl}{qsPath}";
                            }
                            <input type="hidden" name="productId" value="@Model.Id" />
                            <input type="hidden" name="returnUrl" value="@returnUrl" />
                            <input type="text" name="count" value="1" class="tiny-size">
                            <span class="clickable add-one icon-plus-sign-alt"></span>
                            <span class="clickable remove-one icon-minus-sign-alt"></span>
                        </div>
                        &nbsp;
                        @if (Model.Colors.Count() != 0)
                        {
                            <select name="color" class="span2" id="colorSelector">
                                @foreach (var color in Model.Colors)
                                {
                                    <option value="@color.Name">@color.Name</option>
                                }
                            </select>
                        }
                        &nbsp;
                        @if (Model.Sizes.Count() != 0)
                        {
                            <select name="size" class="span2" id="sizeSelector">
                                @foreach (var size in Model.Sizes)
                                {
                                    <option value="@size.SizeValue">@size.SizeValue</option>
                                }
                            </select>
                        }
                        <button class="btn btn-danger pull-right"><i class="icon-shopping-cart"></i> اضافه به سبد خرید</button>
                    </form>

                    <hr>

                    <!--  ==========  -->
                    <!--  = Share buttons =  -->
                    <!--  ==========  -->
                    <div class="share-item">
                        <div class="pull-right social-networks">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_pinterest_pinit"></a>
                                <a class="addthis_counter addthis_pill_style"></a>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-517459541beb3977"></script>
                            <!-- AddThis Button END -->
                        </div>
                        با دوستان خود به اشتراک بگذارید :
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  ==========  -->
    <!--  = Tabs with more info =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-1" data-toggle="tab">جزئیات</a>
                </li>
                <li>
                    <a href="#tab-3" data-toggle="tab">نظرات</a>
                </li>
                <li>
                    <a href="#tab-4" data-toggle="tab">جزئیات ارسال</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="fade in tab-pane active" id="tab-1">
                    <h3>توضیحات محصول</h3>
                    @Model.Description
                    <h3>ویژگی های محصول</h3>
                    <ul dir="rtl">
                        @foreach (var item in Model.Features)
                        {
                            <li dir="rtl">
                                @item.Display : @item.FeatureValue
                            </li>
                        }
                    </ul>
                </div>
                <div class="fade tab-pane" id="tab-3">
                    @await Component.InvokeAsync("Comment" , new {pageId = Model.Id , categoryType = Common.Enums.Enums.CategoryType.Product })
                </div>
                <div class="fade tab-pane" id="tab-4">
                    <p>
                        لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var commentId = 0;
        var commenterName = "";
        var visitingParent = 0;
        
        $(document).ready(function () {
            $(".btnAnswer").click(function (e) {
                commentId = this.getAttribute("commentId");
                commenterName = this.getAttribute("commenterName");
                visitingParent = this.getAttribute("visitingParent");
                document.getElementById("answerTo").innerHTML = "پاسخ به " + commenterName;
                debugger;
            });

            $("#btnSendComment").click(function () {
                var commentData = new FormData();

                commentData.append("Name", $("#name").val());
                commentData.append("Email", $("#email").val());
                commentData.append("Text", $("#text").val());
                commentData.append("PageId", @Model.Id);
                commentData.append("ParentId", commentId);
                commentData.append("VisitingParent", visitingParent)

                $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    cache: false,
                    url: "/Product/CreateComment",
                    data: commentData,
                    success: function (response) {
                        location.reload();
                    }
                });
            });
        });
    </script>
}


