@using System.Linq
@using Application.Services.Common.Product.Queries.GetProductById
@model ResultDto<GetProductByIdDto>
@using Application.Interfaces.FacadPatterns.Client
@using Application.Interfaces.FacadPatterns.Common
@using Common.Utilities
@inject ICommonOptionFacad _commonOptionFacad
@inject IClientProductFacad _clientProductFacad

@{
    ViewData["Title"] = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (CookiesManager.ContainCookie(Context, "BrowserCode"))
    {
        var code = CookiesManager.GetCookieValue(Context, "BrowserCode");
        _clientProductFacad.AddNewVisit.Execute(Model.Data.Id, code);
    }
    else
    {
        string code = _commonOptionFacad.CreateBrowser.Execute().Data;
        CookiesManager.AddCookie(Context, "BrowserCode", code);
        _clientProductFacad.AddNewVisit.Execute(Model.Data.Id, code);
    }
}
<link href="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">

<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">فروشگاه</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="shop.html">@Model.Data.CategoryName</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="product.html">@Model.Data.Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer">

            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="product-preview">
                    <div class="picture">
                        <img src="@Model.Data.Images[0].Src" alt="" width="940" height="940" id="mainPreviewImg">
                    </div>
                    <div class="thumbs clearfix">
                        @foreach (var item in Model.Data.Images)
                        {
                            if (item == Model.Data.Images[0])
                            {
                                <div class="thumb active">
                                    <a href="#mainPreviewImg"><img src="@item.Src" alt="" width="940" height="940"></a>
                                </div>
                            }
                            else
                            {
                                <div class="thumb">
                                    <a href="#mainPreviewImg"><img src="@item.Src" alt="" width="940" height="940"></a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            <div class="span7">
                <div class="product-title">
                    <h1 class="name">@Model.Data.Name</h1>
                    <div class="meta">
                        <span class="tag"><span id="price"></span>تومان</span>
                        <span class="stock">
                            @*                            @if (Model.Inventory != 0)
                                {
                                <span class="btn btn-success">موجود</span>

                                }
                                else
                                {
                                <span class="btn btn-danger">اتمام موجودی</span>

                                }*@
                        </span>
                    </div>
                </div>
                <div class="product-description">
                    <p>
                        @Model.Data.ShortDescription
                    </p>
                    <hr>

                    <!--  ==========  -->
                    <!--  = Add to cart form =  -->
                    <!--  ==========  -->
                    <div>
                        <div class="numbered">
                            <input type="text" id="count" value="1" class="tiny-size">
                            <span class="clickable add-one icon-plus-sign-alt"></span>
                            <span class="clickable remove-one icon-minus-sign-alt"></span>
                        </div>
                        &nbsp;
                        @if (Model.Data.Colors.Count() != 0)
                        {
                            <select class="span2" id="colorSelector">
                                @foreach (var color in Model.Data.Colors)
                                {
                                    <option value="@color.Name">@color.Name</option>
                                }
                            </select>
                        }
                        &nbsp;
                        @if (Model.Data.Sizes.Count() != 0)
                        {
                            <select class="span2" id="sizeSelector">
                                @foreach (var size in Model.Data.Sizes)
                                {
                                    <option value="@size.SizeValue">@size.SizeValue</option>
                                }
                            </select>
                        }

                        <div id="AddToCart">
                            <button id="btnAddToCart" class="btn btn-danger pull-right"><i class="icon-shopping-cart"></i> اضافه به سبد خرید</button>
                        </div>

                    </div>

                    <hr>

                    <!--  ==========  -->
                    <!--  = Share buttons =  -->
                    <!--  ==========  -->
                    <div class="share-item">
                        <div class="pull-right social-networks">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_pinterest_pinit"></a>
                                <a class="addthis_counter addthis_pill_style"></a>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-517459541beb3977"></script>
                            <!-- AddThis Button END -->
                        </div>
                        با دوستان خود به اشتراک بگذارید :
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  ==========  -->
    <!--  = Tabs with more info =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-1" data-toggle="tab">جزئیات</a>
                </li>
                <li>
                    <a href="#tab-3" data-toggle="tab">نظرات</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="fade in tab-pane active" id="tab-1">
                    <h3>توضیحات محصول</h3>
                    @Html.Raw(Model.Data.Description)
                    <h3>ویژگی های محصول</h3>
                    <ul dir="rtl">
                        @foreach (var item in Model.Data.Features)
                        {
                            <li dir="rtl">
                                @item.Display : @item.FeatureValue
                            </li>
                        }
                    </ul>
                </div>
                <div class="fade tab-pane" id="tab-3">
                    @await Component.InvokeAsync("Comment", new { pageId = Model.Data.Id, categoryType = Common.Enums.Enums.CategoryType.Product })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script src="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
<script>
    var commentId = 0;
    var commenterName = "";
    var visitingParent = 0;

    $(document).ready(function () {
        GetPrice();

        $(".btnAnswer").click(function (e) {
            commentId = this.getAttribute("commentId");
            commenterName = this.getAttribute("commenterName");
            visitingParent = this.getAttribute("visitingParent");
            document.getElementById("answerTo").innerHTML = "پاسخ به " + commenterName;
        });

        $("#btnSendComment").click(function () {
            var commentData = new FormData();

            commentData.append("Name", $("#name").val());
            commentData.append("Email", $("#email").val());
            commentData.append("Text", $("#text").val());
            commentData.append("PageId", @Model.Data.Id);
            commentData.append("ParentId", commentId);
            commentData.append("VisitingParent", visitingParent)

            $.ajax({
                type: "POST",
                processData: false,
                contentType: false,
                cache: false,
                url: "/Product/CreateComment",
                data: commentData,
                success: function (response) {
                    location.reload();
                }
            });
        });

        $("#btnAddToCart").click(function (e) {
                var data = new FormData();

                data.append("count", $("#count").val());
                data.append("color", $("#colorSelector").find(":selected").text());
                data.append("size", $("#sizeSelector").find(":selected").text());
                data.append("price", $("#price").text());
                data.append("productId", @Model.Data.Id);

                $.ajax({
                    type: "POST",
                    url: "/AddToCart",
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function (response) {
                        location.reload();
                    }
                });

        });

        function GetPrice(){
            var data = new FormData();

            data.append("colorName", $("#colorSelector").find(":selected").text());
            data.append("sizeName", $("#sizeSelector").find(":selected").text());
            data.append("productId", @Model.Data.Id);

                $.ajax({
                    type: "POST",
                    url: "/Product/GetPriceByColorAndSize",
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function (response) {
                        $("#price").text(response.price);
                        debugger;
                        if(response.inventory === 0){
                            var button = document.getElementById("AddToCart");
                            button.setAttribute("hidden" , "true");
                        }
                    }
                });
        };

        $("#sizeSelector").change(function(e){
            GetPrice();
        })

        $("#colorSelector").change(function(e){
            GetPrice();
        })
    });
</script>
}


